.Game {
  color: rgb(255, 179, 0);
  width: 95%;
  margin: 4rem auto;
  // border: 2px dashed red;
}

// Header //

h1 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

// Header End//

// Textarea //

.textarea {
  min-height: 11rem;
  width: 100%;
  color: rgb(166, 166, 166);
  background-color: #2b2b2b;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: 18px 15px;
  border: none;
  border-radius: 5px;
  outline: none !important;
}

.textarea:focus {
  outline: none !important;
}

// Textarea //
